# Virtual environment
venv/
.venv/

# Environment variables
.env

# Django static files
media/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django migrations
**/migrations/*
!**/migrations/__init__.py

# Media files
templates/media/