<!-- templates/reviews/add_review.html -->
{% extends 'base.html' %}
{% load static %}

{% block title %}Add Review{% endblock %}

{% block extra_head %}
{% endblock %}

{% block content %}
    <h1>Add Review for {{ listing.title }}</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div>
            <label for="rating">Rating:</label>
            {{ form.rating.errors }}
            {{ form.rating }}
        </div>
        <div>
            <label for="comment">Comment:</label>
            {{ form.comment.errors }}
            {{ form.comment }}
        </div>
        <button type="submit" class="button">Submit</button>
    </form>
{% endblock %}

